<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga amet
      cupiditate vero eius, aliquam, itaque odio ab, ratione harum veritatis
      veniam iure quaerat iste perspiciatis aperiam doloribus! Expedita, cumque
      cum.
    </p>
  </div>
</div>
